<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--标准日志输出-->
                <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--延迟加载开关 默认false-->
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>

    <typeAliases>
        <package name="com.yuziyan.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/testmybatis1?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        <mapper class="com.com.com.yuziyan.dao.UserMapper"/>-->

        <mapper resource="com/yuziyan/dao/TeacherMapper.xml"/>

        <!--包扫描和类扫描的前提是 接口 和 xml文件 必须同名！！-->
<!--        <mapper class="com.com.yuziyan.dao.StudentDao"/>-->
<!--        <package name="com.com.yuziyan.dao"/>-->
    </mappers>


</configuration>