<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.com.yuziyan.dao.UserMapper">

    <resultMap id="userMap" type="com.com.com.yuziyan.pojo.User">
        <result property="password" column="pwd"/>
    </resultMap>

    <!--单条查询-->
    <select id="getUserById" resultType="com.com.com.yuziyan.pojo.User" resultMap="userMap">
        select * from user where id = #{id}
    </select>


</mapper>